body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, #f59e0b, #b45309, #c2410c);
    overflow: hidden;
    animation: bgAnimation 20s infinite alternate;
}

@keyframes bgAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.container {
    width: 400px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    background: radial-gradient(ellipse at left, #43496e, #544d7e, #65589c);
    text-align: center;
    transform: translateY(-50px);
}

@keyframes float {
    0% { transform: translateY(-10px); }
    100% { transform: translateY(10px); }
}

.container p {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 12px;
}

.container input {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding: 0 15px;
    border: none;
    outline: none;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 14px;
    transition: 0.3s ease;
}

.container input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.container input:focus {
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 0 10px rgba(108, 99, 255, 0.7);
}

.container button {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 12px;
    background: linear-gradient(135deg, #494eea, #6c63ff);
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.container button:hover {
    transform: scale(1.05) translateY(-3px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}

#imgBox {
    width: 220px;
    margin: 0 auto;
    border-radius: 15px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease, transform 0.5s ease;
}

#imgBox.show-img {
    max-height: 350px;
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

#imgBox img {
    width: 100%;
    border-radius: 15px;
}

.error {
    animation: shake 0.1s linear 10;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-3px); }
    50% { transform: translateX(3px); }
    75% { transform: translateX(-3px); }
    100% { transform: translateX(0); }
}

.watch-link {
    display: block;
    font-size: 13px;
    text-decoration: none;
    width: fit-content;
    margin: 15px auto 0;
    color: #fff;
    transition: 0.3s ease;
}

.watch-link:hover {
    color: #6c63ff;
    text-shadow: 0 0 10px rgba(108, 99, 255, 0.7);
}
